/*Page Style @1-378A7F6C*/
#viewMaintainSearchRequest_choices {
    position: absolute;
}
#viewMaintainSearchRequest_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#viewMaintainSearchRequest_choices ul li.selected { background-color: #aaa;}
#viewMaintainSearchRequest_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

