/*Page Style @1-57F8E6F2*/
#STUDENT_ENROLMENTtxtSchool_Super_Name_choices {
    position: absolute;
}
#STUDENT_ENROLMENTtxtSchool_Super_Name_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#STUDENT_ENROLMENTtxtSchool_Super_Name_choices ul li.selected { background-color: #aaa;}
#STUDENT_ENROLMENTtxtSchool_Super_Name_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

