/*Page Style @1-AF068E17*/
#STUDENT_CENSUS_DATASCHOOL_NAME_choices {
    position: absolute;
}
#STUDENT_CENSUS_DATASCHOOL_NAME_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#STUDENT_CENSUS_DATASCHOOL_NAME_choices ul li.selected { background-color: #aaa;}
#STUDENT_CENSUS_DATASCHOOL_NAME_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

