/*PTAutocomplete Style @1-113BFA3E*/
#STUDENT_CARER_CONTACT4SURNAME_choices {
    position: absolute;
}
#STUDENT_CARER_CONTACT4SURNAME_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#STUDENT_CARER_CONTACT4SURNAME_choices ul li.selected { background-color: #aaa;}
#STUDENT_CARER_CONTACT4SURNAME_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End PTAutocomplete Style*/

