<?xml version="1.0" encoding="utf-8" ?> <!--WebConfig header @0-EFBEC7D5-->

<!--WebConfig @0-67666DC5-->
<configuration>
  <configSections>
    <sectionGroup name="connectionCommands">
      <section name="_connDECVPRODSQL2005Commands"
       type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
      <section name="_connDECVPROD_RegionEnrolmentsCommands"
       type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
    </sectionGroup>
  <section name="locales" type="DECV_PROD2007.LocalesConfigHandler"/>
  
  </configSections>  
   
<!--End WebConfig-->

<!--WebConfig appSettings @0-5871E437-->
  <appSettings>
    <add key="connDECVPRODSQL2005String" value="Password=w4gg0n;Persist Security Info=True;User ID=stagemaster;Initial Catalog=STUDENT_ADMIN_staging;Data Source=decv-db1;User ID=stagemaster;Password=w4gg0n"/>
    <add key="connDECVPRODSQL2005Type" value="Sql"/>
    <add key="connDECVPRODSQL2005Server" value="MSSQLServer"/>
    <add key="connDECVPRODSQL2005DateFormat" value="yyyy-MM-dd HH\:mm\:ss"/>
    <add key="connDECVPRODSQL2005BoolFormat" value="1;0"/>
    <add key="connDECVPRODSQL2005DateRightDelimeter" value="'"/>
    <add key="connDECVPRODSQL2005DateLeftDelimeter" value="'"/>
    <add key="connDECVPRODSQL2005Optimized" value="True"/>
    <add key="connDECVPRODSQL2005TopRecordsPlace" value="beforeFrom"/>
    <add key="connDECVPRODSQL2005TopRecordsClause" value=" TOP {SqlParam_endRecord}"/>
  
    <add key="connDECVPROD_RegionEnrolmentsString" value="Password=redr0ck;Persist Security Info=True;User ID=webmaster;Initial Catalog=decvRegionEnrolments;Data Source=decv-db1;User ID=webmaster;Password=redr0ck"/>
    <add key="connDECVPROD_RegionEnrolmentsType" value="Sql"/>
    <add key="connDECVPROD_RegionEnrolmentsServer" value="MSSQLServer"/>
    <add key="connDECVPROD_RegionEnrolmentsDateFormat" value="yyyy-MM-dd HH\:mm\:ss"/>
    <add key="connDECVPROD_RegionEnrolmentsBoolFormat" value="1;0"/>
    <add key="connDECVPROD_RegionEnrolmentsDateRightDelimeter" value="'"/>
    <add key="connDECVPROD_RegionEnrolmentsDateLeftDelimeter" value="'"/>
    <add key="connDECVPROD_RegionEnrolmentsOptimized" value="True"/>
    <add key="connDECVPROD_RegionEnrolmentsTopRecordsPlace" value="beforeFrom"/>
    <add key="connDECVPROD_RegionEnrolmentsTopRecordsClause" value=" TOP {SqlParam_endRecord}"/>
  
    <add key="ServerUrl" value="http://decv-db1/STUDENT_ADMIN_staging/"/>
    <add key="SecuredUrl" value=""/>
    
    <add key="CultureId" value=""/>
    <add key="SiteLanguage" value="en"/>
    <add key="AccessDeniedUrl" value="Login.aspx"/>
    <add key="DefaultDateFormat" value="dd\/MM\/yyyy"/>
    <add key="DefaultBooleanFormat" value=""/>
    <add key="LoginCookieExpiration" value="1"/>
    <add key="RC4EncryptionKey" value="Q08BRUi0795O13Lm"/>
  </appSettings>
   
<!--End WebConfig appSettings-->

<!--Conection commands @0-CD4C7094-->
  <connectionCommands>
    <_connDECVPRODSQL2005Commands>
     
    </_connDECVPRODSQL2005Commands>  <_connDECVPROD_RegionEnrolmentsCommands>
     
    </_connDECVPROD_RegionEnrolmentsCommands>
  </connectionCommands>
   
<!--End Conection commands-->

<!--Locales @0-27CDD037-->
  <locales>
	<locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="Yes;No" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;T;W;T;F;S" encoding="windows-1252" />
  </locales>
   
<!--End Locales-->

<!--WebConfig system.web header @0-DB152CF3-->
  <system.web>

  
<!--End WebConfig system.web header-->

<!--Authentication @0-85F3937E-->
     <!--<authentication mode="Windows" />-->
         <authorization>
             <deny users="?"/>
          </authorization>

<!--End Authentication-->

<!--WebConfig system.web @0-5E83D4AE-->

	<compilation
         defaultLanguage="VB" debug="true">
		 <assemblies>
			<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			      
		 </assemblies>
	</compilation>


    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="Off" /> 

   
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="true"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
	      localOnly="false"
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
			requestEncoding="windows-1252"
			responseEncoding="windows-1252"
			fileEncoding="windows-1252"
   />
   
 </system.web>


</configuration>

<!--End WebConfig system.web-->
